<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cuit.jead.mapper.UserMapper">

    <!-- 通用查询结果映射 -->
    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <id column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="intro" property="intro"/>
        <result column="city" property="city"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <!-- 动态条件查询 -->
    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT * FROM user
        <where>
            <if test="conditions.city != null and conditions.city != ''">
                AND city = #{conditions.city}
            </if>
            <if test="conditions.gender != null">
                AND gender = #{conditions.gender}
            </if>
            <!-- 添加更多条件 -->
        </where>
    </select>

</mapper>